*{
    box-sizing: border-box;
}
:root{ 
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    height: 100vh;
    margin: 0;
}
.layout
{
    display: flex;
    flex-direction: row;
}
.layout > .sideNav
{
    background-color: rgb(236,210,185);
    padding: 20px;
    font-size: 20;
    width: 30%;
    max-width: 200px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 250;
    min-width: 150;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;

}
.layout > .sideNav > nav
{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.layout > .sideNav > nav > a
{
   font-size: 20px;
   text-decoration: none;
}

 .content
{
    padding: 20px;
    overflow: auto;
    height: 100vh;
    flex: 1;



}
.card-section 
{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}
.card-section > .card
{
    background-color: cadetblue;
    height: 150px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
}

     