*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    height: 100vh;

}
.main
{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dashboard
{
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 200, 160);
    min-height: 60vh;
    padding: 20px;
    gap: 10px;


}
.row
{
    display: flex;
    flex-wrap: wrap;
    border :1px solid black;
    padding: 20px;
    gap: 10px;
}
.col
{
    width: 250px;
    border: 1px solid red;
    min-height: 200px;

}
.col-1
{
    flex-grow: 1;
    flex-basis: 150px;

}
.col-2
{
    flex-grow: 2;
    flex-basis: 150px;


}

.col-3
{
    flex-grow: 3;
    flex-basis: 150px;

}
